.totalframe2{
    width: 465px; 
    height: 759px;
    position: absolute;
    top: 116px;
    right: 104px;
    bottom: 53px;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: flex-end; 
    gap: 12px; 
    display: inline-flex;
}



.aiblock{
    width: 155px; height: 40px;
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    background: white; 
    border-radius: 8px; 
    border: 0.50px #949CB0 solid;
    justify-content: center;
    align-items: center; 
    gap: 16px; 
    display: inline-flex;
}



.aiMiniFrame{
    flex: 1 1 0; 
    align-self: stretch; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: flex;
}


.aiIconFrame{
    width: 24px; 
    height: 24px; 
    position: relative;
}

.aiTextFrame{
    justify-content: flex-start; 
    align-items: center; 
    gap: 10px; 
    display: flex;
}

.rectangleFrame{
    width: 465px; 
    height: 707px; 
    background: white; 
    border: 0.50px #0C51C8 solid; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: flex;
}

.listbarFrame{
    align-self: stretch; 
    padding-left: 20px; 
    justify-content: space-between; 
    align-items: center; 
    gap: 28px; 
    display: inline-flex;
}

.listTextFrame{
    width: 146px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: flex;
}

.listGraFrame{
    height: 55px; 
    border-radius: 8px; 
    justify-content: flex-end; 
    align-items: center; 
    display: flex;
}

.line{
    width: 435px; 
    height: 1px; 
    background: #EBEFF2;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: flex;
}




.listFrame{
    align-self: stretch; 
    flex: 1 1 0; 
    padding-top: 10px; 
    padding-bottom: 20px; 
    padding-left: 15px; 
    padding-right: 15px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 10px; 
    display: flex;
}

.listBlockFrame{
    align-self: stretch; 
    padding-left: 20px; 
    padding-right: 20px; 
    justify-content: space-between; 
    align-items: center; 
    display: inline-flex;
}


.exeNameFrame{
    height: 50px; 
    padding-top: 11px; 
    padding-bottom: 11px; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 20px; 
    display: flex;
}

.exeIconFrame{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    display: inline-flex;
}

.deleteIcon{
    transform: rotate(180deg); 
    transform-origin: 0 0; 
    justify-content: flex-start; 
    align-items: center; 
    display: flex;
    width: 13px; 
    height: 13px;
}

.addExeFrame{
    align-self: stretch; 
    padding-left: 20px; 
    padding-right: 20px; 
    padding-top: 11px; 
    padding-bottom: 11px; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    display: inline-flex;
}

.addExeMiniFrame{
    width: 435px; 
    align-self: stretch; 
    padding-left: 20px; 
    padding-right: 20px; 
    justify-content: center; 
    align-items: center; 
    display: flex;
}


.addIconFrame{
    height: 30px; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    display: flex;
}

.addTextFrame{
    width: 30px; 
    height: 30px; 
    justify-content: center; 
    align-items: center; 
    display: flex; 
    width: 30px; 
    opacity: 0.50; 
    text-align: center; 
    color: #334D6E; 
    font-size: 24px; 
    font-family: Poppins; 
    font-weight: 500; 
    letter-spacing: 0.24px; 
    word-wrap: break-word;
}


/* AI맞춤모드txt */
.aitext{
    color: black;
    font-size: 16px;
    font-family: Noto Sans;
    font-weight: 600;
    line-height: 24px;
    word-wrap: break-word;
}



/* 파일이름txt */
.filetext{
    height: 20px; justify-content: flex-start; align-items: center; gap: 6px; display: flex;
    color: #2C2C2C;
    font-size: 20px;
    font-family: Noto Sans;
    font-weight: 400;
    word-wrap: break-word
}


 /* 접근 허용 목록txt */
.accesstext{
    color: #0C51C8;
    font-size: 18px;
    font-family: Noto Sans;
    font-weight: 800;
    word-wrap: break-word;
}


